<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Edit Tournament --</h2>
        </header>
        <div class="form-group tournamentForm">
            <form method="post" action="/tournaments/<%= tournament.id %>?_method=PUT" class="tournamentForm2"
                  enctype="multipart/form-data">
                <label for="tournamentName">Tournament Name</label>
                <input type="text" class="form-control" name="tournamentName" id="tournamentName"
                       placeholder="Tournament Name" value="<%= tournament.tournamentName %>" required>
                <label for="tournamentDate">Tournament Date</label>
                <input type="date" class="form-control" name="tournamentDate" id="tournamentDate"
                       placeholder="Tournament Date" value="<%= tournament.tournamentDate %>" required>
                <label for="tournamentLocation">Tournament Location</label>
                <select class="form-control" name="tournamentLocation" id="tournamentLocation" required>
                    <option value="austin" <%= tournament.tournamentLocation === 'austin' ? 'selected' : '' %>>
                        Austin
                    </option>
                    <option value="dallas" <%= tournament.tournamentLocation === 'dallas' ? 'selected' : '' %>>
                        Dallas
                    </option>
                    <option value="houston" <%= tournament.tournamentLocation === 'houston' ? 'selected' : '' %>>
                        Houston
                    </option>
                    <option value="sanantonio" <%= tournament.tournamentLocation === 'sanantonio' ? 'selected' : '' %>>
                        San Antonio
                    </option>
                    <option value="other" <%= tournament.tournamentLocation === 'other' ? 'selected' : '' %>>
                        Other
                    </option>
                </select>
                <label for="tournamentFlyer">Tournament Flyer</label>
                <input type="file" class="form-control" name="tournamentFlyer" id="tournamentFlyer"
                       placeholder="Tournament Flyer" multiple>
                <label for="tournamentContactName">Tournament Contact Name</label>
                <input type="text" class="form-control" name="tournamentContactName" id="tournamentContactName"
                       placeholder="Tournament Contact Name" value="<%= tournament.tournamentContactName %>">
                <label for="tournamentContactEmail">Tournament Contact Email</label>
                <input type="email" class="form-control" name="tournamentContactEmail" id="tournamentContactEmail"
                       placeholder="Tournament Contact Email" value="<%= tournament.tournamentContactEmail %>">
                <label for="tournamentContactPhone">Tournament Contact Phone</label>
                <input type="tel" class="form-control" name="tournamentContactPhone" id="tournamentContactPhone"
                       placeholder="Tournament Contact Phone"
                       onInput="this.value=phoneFormat(this.value)" value="<%= tournament.tournamentContactPhone %>">
                <input type="submit">
            </form>
            <a href="/tournaments/<%= tournament.id %>">Back to Tournament</a>
        </div>
    </div>
</section>
