<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>--
                <%= tournament.tournamentName %>
                --</h2>
        </header>
        <div class="tournamentDisplay">
            <div class="tournamentPageFlyer">
                <% if (tournament.tournamentFlyer[0] !== undefined) { %>
                    <img src="<%= tournament.tournamentFlyer[0].url %>" alt="<%= tournament.tournamentName %>"
                         class="tournamentFlyer">
                <% } else { %>
                    <img src="https://via.placeholder.com/300x200" alt="<%= tournament.tournamentName %>"
                         class="tournamentFlyer">
                <% } %>

            </div>
            <div class="tournament">
                <p>
                    <b>Date:</b> <%= tournament.tournamentDate.toDateString() %>
                </p>
                <p>
                    <b>Director:</b> <%= tournament.tournamentContactName %>
                </p>
                <p>
                    <b>Contact #:</b> <%= tournament.tournamentContactPhone %>
                </p>
            </div>
        </div>
    </div>
</section>