<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Houston --</h2>
        </header>
        <div class="tournamentDisplay">
            <% for (let tournament of tournaments) { %>
                <div class="tournament">
                    <h3><%= tournament.tournamentName %></h3>
                    <p>
                        <b>Date:</b> <%= tournament.tournamentDate.toDateString() %><br>
                        <b>Director:</b> <%= tournament.tournamentContactName %><br/>
                        <b>Contact #:</b> <%= tournament.tournamentContactPhone %>
                    </p>
                    <a href="/tournaments/<%= tournament.id %>">View</a>
                </div>
            <% } %>
        </div>
    </div>
</section>